/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.resaltado {
	padding: 3rem;
    background: #f3f3f3;
    border: 1px solid #cecece;
    border-radius: 0.5rem;
	text-align: center;
}

.resaltado p{
	margin: 0;
    font-size: 1.25rem;
    font-weight: 800;
}
.resaltado li{
    font-size: 1.25rem;
    font-weight: 800;
}
.resaltado li i{
	margin-right: 1.5rem !important;
}

body ul {
	margin-left: 1.5rem;
}

.sub-menu-container .menu-item > .menu-link {
	padding: 10px 0px;
}
.sub-menu-container .menu-item:hover > .menu-link {
	padding-left: 2px;
}