/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.resaltado {
	padding: 3rem;
    background: #f3f3f3;
    border: 1px solid #cecece;
    border-radius: 0.5rem;
	text-align: center;
}

.resaltado p{
	margin: 0;
}