/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.resaltado {
	padding: 3rem;
    background: #f3f3f3;
    border: 1px solid #cecece;
    border-radius: 0.5rem;
	text-align: center;
}

.resaltado p{
	margin: 0;
    font-size: 1.25rem;
    font-weight: 800;
}
.resaltado li{
    font-size: 1.25rem;
    font-weight: 800;
}
.resaltado li i{
	margin-right: 1.5rem !important;
}

.container ul {
	margin-left: 1.5rem;
}

.sub-menu-container .menu-item > .menu-link {
	padding: 10px 0px;
}
.sub-menu-container .menu-item:hover > .menu-link {
	padding-left: 2px;
}


.titulo-seccion {
font-size: 4rem;
margin: 0;
}

.arr-izk {
	position: absolute;
	top: 0;
	left: 0;
}
.arr-der {
	position: absolute;
	top: 0;
	right: 0;
}
.ab-izk {
	position: absolute;
	bottom: 0;
	left: 0;
}
.ab-der {
	position: absolute;
	bottom: 0;
	right: 0;
}

.titulo-seccion {
    z-index: -1;
    -webkit-animation: 3s ease 0s normal forwards 1 fadein;
    animation: 3s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

.bloque-titulo {
    font-size: 1.45rem;
    line-height: 2rem !important;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.bloque-bajada {
    font-size: 1rem;
    line-height: 1.25rem !important;
    font-family: 'Poppins', sans-serif;
}

.counter {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}




  
.underline--magical {
    padding: 0.25rem 10rem 0rem 0.25rem;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    -webkit-transition: background-size 0.25s ease-in;
    -moz-transition: background-size 0.25s ease-in;
    -ms-transition: background-size 0.25s ease-in;
    -o-transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
    background-size: 100% 88%;
  }

.sobre-reporte{
    color: #5a90d2;
    background-image: linear-gradient(120deg, #97e1ff 0%, #fff 100%);
}

.materialidad{
    color: #1d998a;
    background-image: linear-gradient(120deg, #97e1ff 0%, #fff 100%);
}
